//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.06
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Fri 08 26 12:30:52 2022

IO_LOC "ADDRin[0]" 45;
IO_PORT "ADDRin[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[1]" 44;
IO_PORT "ADDRin[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[2]" 43;
IO_PORT "ADDRin[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[3]" 42;
IO_PORT "ADDRin[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[4]" 41;
IO_PORT "ADDRin[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[5]" 40;
IO_PORT "ADDRin[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[6]" 39;
IO_PORT "ADDRin[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[7]" 38;
IO_PORT "ADDRin[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "DATAio[0]" 34;
IO_PORT "DATAio[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DATAio[1]" 33;
IO_PORT "DATAio[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DATAio[2]" 32;
IO_PORT "DATAio[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DATAio[3]" 31;
IO_PORT "DATAio[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DATAio[4]" 30;
IO_PORT "DATAio[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DATAio[5]" 29;
IO_PORT "DATAio[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DATAio[6]" 28;
IO_PORT "DATAio[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DATAio[7]" 27;
IO_PORT "DATAio[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "cpuclkO" 16;
IO_PORT "cpuclkO" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "nbclk20" 17;
//IO_PORT "nbclk20" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "nbclk13" 18;
//IO_PORT "nbclk13" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nMREQin" 17;
IO_PORT "nMREQin" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nIORQin" 18;
IO_PORT "nIORQin" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nRDin" 10;
IO_PORT "nRDin" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nWRin" 46;
IO_PORT "nWRin" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nWRout" 11;
IO_PORT "nWRout" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nINTout" 13;
IO_PORT "nINTout" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "A13" 20;
IO_PORT "A13" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "A14" 21;
IO_PORT "A14" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "A15" 22;
IO_PORT "A15" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "EA13" 5;
IO_PORT "EA13" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "EA14" 8
IO_PORT "EA14" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "EA15" 9;
IO_PORT "EA15" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nCE0" 24;
IO_PORT "nCE0" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nCE1" 19;
IO_PORT "nCE1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nCE2" 23;
IO_PORT "nCE2" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "dvSERout" 15;
IO_PORT "dvSERout" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "dvSTRout" 14;
IO_PORT "dvSTRout" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "dvI2Cout" ;
//IO_PORT "dvI2Cout" IO_TYPE=LVCMOS33 PULL_MODE=UP;







