//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.06
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Fri 08 26 12:30:52 2022

IO_LOC "ADDRin[0]" 42;
IO_PORT "ADDRin[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[1]" 41;
IO_PORT "ADDRin[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[2]" 35;
IO_PORT "ADDRin[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[3]" 40;
IO_PORT "ADDRin[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[4]" 34;
IO_PORT "ADDRin[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[5]" 33;
IO_PORT "ADDRin[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[6]" 30;
IO_PORT "ADDRin[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADDRin[7]" 29;
IO_PORT "ADDRin[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "DATAio[0]" 51;
IO_PORT "DATAio[0]" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "DATAio[1]" 53;
IO_PORT "DATAio[1]" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "DATAio[2]" 54;
IO_PORT "DATAio[2]" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "DATAio[3]" 55;
IO_PORT "DATAio[3]" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "DATAio[4]" 56;
IO_PORT "DATAio[4]" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "DATAio[5]" 57;
IO_PORT "DATAio[5]" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "DATAio[6]" 68;
IO_PORT "DATAio[6]" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "DATAio[7]" 69;
IO_PORT "DATAio[7]" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
//42 empty pin
//input pins
IO_LOC "nIORQin" 28;
IO_PORT "nIORQin" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nRDin" 27;
IO_PORT "nRDin" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nWRin" 26;
IO_PORT "nWRin" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nMREQin" 25;
IO_PORT "nMREQin" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "nRESET" 39;
IO_PORT "nRESET" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "A13" 36;
IO_PORT "A13" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "A14" 37;
IO_PORT "A14" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "A15" 38;
IO_PORT "A15" IO_TYPE=LVCMOS33 PULL_MODE=UP;

//output pins
IO_LOC "EA15" 77;
IO_PORT "EA15" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "EA14" 76;
IO_PORT "EA14" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "EA13" 75;
IO_PORT "EA13" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "nCE1" 74;
IO_PORT "nCE1" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "nCE0" 73;
IO_PORT "nCE0" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "cpuclkO" 72;
IO_PORT "cpuclkO" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "nINTout" 71;
IO_PORT "nINTout" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "nWRout" 70;
IO_PORT "nWRout" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;

IO_LOC "nCE2" 48;
IO_PORT "nCE2" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "dvSTRout" 49;
IO_PORT "dvSTRout" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "dvSERout" 31;
IO_PORT "dvSERout" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "DIROUT" 32;
IO_PORT "DIROUT" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;

IO_LOC "TSTOUT" 63;
IO_PORT "TSTOUT" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;

IO_LOC "TSTVLT" 86;
IO_PORT "TSTVLT" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "TSTOUT2" 85;
IO_PORT "TSTOUT2" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "TSTOUT3" 84;
IO_PORT "TSTOUT3" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;


IO_LOC "dvI2Cout" 81;
IO_PORT "dvI2Cout" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;
IO_LOC "dvKBout" 80;
IO_PORT "dvKBout" IO_TYPE=LVCMOS33  DRIVE=24 PULL_MODE=UP;

//IO_LOC "nbclk20" 17;
//IO_PORT "nbclk20" IO_TYPE=LVCMOS33 ;
//IO_LOC "nbclk13" 18;
//IO_PORT "nbclk13" IO_TYPE=LVCMOS33 ;

IO_LOC  "btn1_n" 3;
IO_PORT "btn1_n" IO_TYPE=LVCMOS33 ;

















